.env
.idea/

nodered-data/node_modules/
nodered-data/*.db
nodered-data/.npm/
nodered-data/.config*.json
nodered-data/*.backup
nodered-data/flows_cred.json
nodered-data/flows_cred.json.backup
nodered-data/settings.js
