TELEGRAM_BOT_TOKEN=cole_o_token_do_botfather_aqui
WATSON_API_KEY=cole_a_api_key_do_watson_aqui
WATSON_ASSISTANT_ID=cole_o_assistant_id_aqui
WATSON_SERVICE_URL=https://api.us-south.assistant.watson.cloud.ibm.com
WATSON_VERSION=2024-08-25
